{% extends 'client/base/base.html' %}
{% load static %}
{% block content %}

{% if error %}
<div class="container alert alert-danger d-flex justify-content-center text-danger mb-3 strong ">Vous avez deja un stationnement en cours
</div>
{% endif %}
{% if places.count == 0 %}
    <div class="alert alert-danger" role="alert">
        Le parking est plein
    </div>
{% else %}
    <div class=" border border-light rounded p-4 border shadow-sm">
        <h2 class="text-center">Bienvenu sur e-Parking</h2>
        <h5 class="border-bottom border-danger p-2 mb-2">Places du parking</h5>
        <div class="d-flex flex-wrap justify-content-between">
            {% for place in places %}
                {%if place.status%}
            
                    <div class="col-md-2 col-sm-6 m-1 p-0 text-center bg-danger border border-white rounded" >
                        <a class="container-fuid btn btn-lg p-3 font-weight-bold {%if place.status%} text-white {% endif %}" disabled="disabled">
                            {{place.numPlace}}
                        </a>
                    
                    </div>
                {% else %}
                
                    <div
                        class="col-md-2 col-sm-6 m-1 p-0 text-center bg-light border border-dark rounded">
                        <a href="{% url 'demande' place.numPlace %}" role="button"
                            class="container-fuid btn btn-lg p-3 font-weight-bold {%if place.status%} text-white {% endif %}"
                            disabled="disabled">
                            {{place.numPlace}}
                        </a>
                    
                    </div>
                {% endif %}

        
            {% endfor %}
        </div>
       
    </div>
    <div class="p-2 mt-3 border rounded shadow-sm">
        <span class="fw-bold mb-2">Indication:</span><br>
        <div class="btn btn-danger m-1"></div> Occupé
        <div class="btn btn-light border border-dark rounded"></div> Libre
    </div>
    
{% endif %}



<div class="modal fade" id="demandeDePlace" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Demande de place</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center text-dark fw-bold h5">Voulez vous occuper cette place ?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2"
                    data-bs-toggle="modal">S'Abonner</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

"{% url 'demande' place.numPlace %}"